body {
	text-align: center;
	font-family:"Cormorant Unicase",serif;
	background: url("../haunted.jpg");
	  background-size:cover;
  background-repeat:no-repeat;


}

a:link{
	color:black;
}

a:visited{
	color: black;
}

.drinkname {
	font-size:2em;
}